
<div>
  <div class="header">
    <div class="logo">
            <img
      class="img-responsive"
      src="https://stickershop.line-scdn.net/stickershop/v1/product/1342745/LINEStorePC/main.png;compress=true"
      alt="Dota2"
      width="70"
      height="70"
    /></div>
    <h1>Sibtip</h1>
  </div>
  <nav>
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Time line</a>
    <a routerLink="/add-blog" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Add Blog</a>
  </nav>
  <div class ="body">
    <div class = "content">
      <router-outlet></router-outlet>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>      
      <br><br>
      <br><br>      
      <br><br>
      <br><br>
    </div>
  </div>
</div>

